body {
    background-color: #f5f0e6; 
    font-family: Arial, sans-serif;
    color: #004080;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #004080; 
    margin-top: 20px;
}


.course-box {
    background-color: #e6f0ff; 
    border: 2px solid #004080;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 700px;
}

.course-box h2 {
    color: #004080;
    margin-top: 0;
}

.course-box p {
    line-height: 1.5;
    margin-top: 10px;
    color: #004080; 
}

